html, body {
    min-height: 100%;
}
.page-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.swiper-container {
  height: 100%;
}

.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}

.swiper-container-horizontal > .swiper-pagination {
    bottom: auto;
    position: fixed;
    margin-top: -30px;
}

.main_screen {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 8;
}

.bg_for_main {
    background: url('../images/18352-doge-only-doge-without-text.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 110%;
    height: 110%;
    z-index: 1;
    margin: -2% 0 0 -2%;
}

.main_screen .table_tr {
    display: table-row;    
}

.main_screen .applications,
.main_screen footer {
    display: table-cell;
}
.main_screen .applications {
    height: 84%;
}

.main_screen .swiper-wrapper {
    width: 1000px;
}

.main_screen .img_wrapper {
    display: block;
    margin: 0 auto;
    height: 64px;
    width: 64px;
}

.main_screen .img_wrapper img {
    display: block;
    height: 64px;
    width: 64px;
    margin : 0 auto;
}

.main_screen .swiper-slide span {
    display: block;
    color: #fff;
    margin : 0 0 10px;
    font-size: 12px;
}

.main_screen .for_footer {    
    position: relative;
    height: 16%;
}

.main_screen .smooth_footer {    
    display: table-cell;
    background: url('../images/FFFFFF-0.7.png');
    height: 100%;
}

.swiper-slide .row > div {
    animation-delay: -0.15s;
    animation-duration: .25s
}

.wobble .swiper-slide .row .img_wrapper:before {
    background: #fff;
    border-radius: 25px;
    content: 'x';
    display: block;
    line-height: 170%;
    font-weight: bold;
    margin: -5px 0 0 -5px;
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
}

.wobble .swiper-slide .row > div:nth-child(2n) {
    animation-name: keyframes1;
    animation-iteration-count: infinite;
    transform-origin: 50% 10%;
}
 
.wobble .swiper-slide .row > div:nth-child(2n-1) {
    animation-name: keyframes2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: 30% 5%;
}
 
@keyframes keyframes1 {
    0% {
        transform: rotate(-1deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(1.5deg);
        animation-timing-function: ease-out;
    }
}
 
@keyframes keyframes2 {
    0% {
        transform: rotate(1deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(-1.5deg);
        animation-timing-function: ease-out;
    }
}

.app-list {
    overflow: auto;
    height: 300px;
}

@media (max-width: 600px) {
    .main_screen .swiper-wrapper {
        width: 300px;
    }

    .main_screen .img_wrapper {
        display: block;
        margin: 0 auto;
        height: 32px;
        width: 32px;
    }

    .main_screen .img_wrapper img {
        display: block;
        height: 32px;
        width: 32px;
        margin : 0 auto;
    }
}
