<div class="bg_for_main layer" data-depth="0.10"></div>
<div class="main_screen">
    <div class="table_tr for_applications">
        <section class="applications">
            <!-- Slider -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="slide in data.apps">
                        <div class="content-block">
                            <div class="row">
                                <div remove-on-click ng-click="remove()" ng-repeat="app in slide" class="{{'col-' + data.col}}"><div ng-show="app.img !== ''" class="img_wrapper"><img src="{{app.img}}"></div><span>{{app.title}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
    </div>
    <div class="table_tr for_footer" restore-on-click ng-click="restore_state()">
        <div class="smooth_footer">
            <div class="content-block">
                <div class="row">
                    <div class="col-20"><div class="img_wrapper"><img src="images/icons/box.svg"></div></div>
                    <div class="col-20"><div class="img_wrapper"><img src="images/icons/football.svg"></div></div>
                    <div class="col-20"><div class="img_wrapper"><img src="images/icons/search.svg"></div></div>
                    <div class="col-20"><div class="img_wrapper"><img src="images/icons/heart.svg"></div></div>
                </div>
            </div>
        </div>
    </div>                
</div>